/* @import "fonts.css"; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

:root {
  --dark-shade: rgba(31, 32, 65);
  --dark-shade-75: rgba(31, 32, 65, 0.75);
  --dark-shade-50: rgba(31, 32, 65, 0.5);
  --dark-shade-25: rgba(31, 32, 65, 0.25);
  --dark-shade-5: rgba(31, 32, 65, 0.05);
  --purple: rgb(188, 156, 255);
  --green: rgb(111, 207, 151);
  --blue: rgb(139, 164, 249);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}
