/* @import "fonts.css"; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

:root {
  --dark-shade: #1f2041;
  --purple: #bc9cff;
  --green: #6fcf97;
}
